
<div class="btn-group" data-toggle="buttons" style='position: absolute' id="radios">
  <label class="btn btn-success" id='Accept'>
    <%= radio_button_tag("pins[#{pin.id}]", "Accept", checked = true) %> Accept
  </label>
  <label class="btn btn-primary" id='Reject'>
		<%= radio_button_tag("pins[#{pin.id}]", "Reject") %> Reject
  </label>
</div>





