
<div class="btn-group" data-toggle="buttons" style='position: absolute'>
  <label class="btn btn-success active" id='Accept'>
    <%= radio_button_tag("pins[#{pin.id}]", "Accept") %> Accept
  </label>
  <label class="btn btn-primary" id='Reject'>
		<%= radio_button_tag("pins[#{pin.id}]", "Reject") %> Reject
  </label>
</div>





