
<!-- <div class='container'>
	<div class='homeTitle'>
		Invoice<span style="color: #72B74C">ly</span>
	</div>
		<div class='homeLine'>
		Unlocking the power of <span style="color: #72B74C">y</span>our accounts payab<span style="color: #72B74C">le.</span>
	</div>
	<br><br>
</div> -->

<div class='container'>
	<div class='homeTitle'>
		Invoice<span style="color: #72B74C">ly</span>
	</div>

	<div style='width: 100%'></div>
	<div class='homeLine'>
		<div class="type-wrap">
  		<div id="typed-strings" style="display: none;">
    		<p>The time<span style="color: #72B74C">ly</span> payment of <span style="color: #72B74C">y</span>our supplier invoices...</p>
    		<p>Unlocking the power of <span style="color: #72B74C">y</span>our accounts payab<span style="color: #72B74C">le.</span></p>
  		</div>
			<span id="typed"><p>Unlocking the power of <span style="color: #72B74C">y</span>our accounts payab<span style="color: #72B74C">le.</span></p></span><!-- <span class="typed-cursor">|</span> -->
		</div>
	</div>
	<br><br>
</div>


    <style>
        /* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
    </style>