<!-- 	<%# if user_signed_in? %>
	<% #else %>
		<p>
			<%#= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%#= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<%# end %> -->



<div class='container'>
	<div class='homeTitle'>
		Invoice<span style="color: #72B74C">ly</span>
	</div>
		<div class='homeLine'>
		Unlocking the power of <span style="color: #72B74C">y</span>our accounts payab<span style="color: #72B74C">le.</span>
	</div>
</div