<div class="jumbotron center">
	<h1>Welcome to Invoicely!</h1>
</div>
<div style="font-size: 20px">

<div class="parallax pattern-image">
<img src="https://ununsplash.imgix.net/photo-1427434846691-47fc561d1179?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" style="transform: translate3d(0px, 146.667px, 0px);">
</div>


<p>Welcome to the FatFace Early Settlement Portal, managed by Invoicely.</p>

<p>Invoicely removes the inefficient and time-consuming process of agreeing discounts between buyers and suppliers. Our technology simplifies the communication and offer/acceptance process - you can agree an accelerated payment in just a few clicks.</p>

<p>All offers that you receive via email and within the portal are sent by Invoicely on behalf of Fat Face. You do not need to confirm with Fat Face that these offers are valid. Simply click Accept next to the relevant invoices and Fat Face will receive updated payment information. Invoicely will also send you confirmation by email of all payments agreed through the platform.</p>

<p>This portal is designed to be straightforward. If you have any questions, however, please check our FAQ page or email our customer service team at hello@invoicely.co.uk. Additionally, if your company has a large supply chain and could benefit from our technology, we would love to hear from you.</p>

</div>







<!-- 	<%# if user_signed_in? %>
	<% #else %>
		<p>
			<%#= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%#= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<%# end %> -->



