// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.invtable {
	font-size: 13px;

	.darkhead {
		background-color: #7EB5B6;
		color: white;
		a {
			color: white;
		}
	}

	thead tr th {
		background-color: #7A3D54;
		text-align: center;
		vertical-align: middle;
		padding: 3px;
		font-weight: 700;
		color: white
	}

	thead tr th a {
		background-image: image-url('arrow.png');
	  background-position: 0 5px;
	  background-repeat: no-repeat;
	  padding-left: 12px;
	  font-weight: 700;
	  color: white;
	}

	th {
		border: 1px solid grey !important;
		font-weight: 500;

		.current {
			 background-repeat: no-repeat;
			 background-position: left center;
			 padding-left: 12px;
		}
		.asc { 
		  background-image: image-url('arrow.png');
		  background-position: 0 -56px;
		}
		.desc { 
		  background-image: image-url('arrow.png');
		}
	}
	.btn-default{
		background-color: white;
	}
	.btn-yes.active {
    background-color: #628F68;
  	color: white;
  	z-index: 0;
  }
  .btn-no.active {
    background-color: #C0382B;
    color: white;
    z-index: 0;
  }
  .right{
  	text-align: right;
  }
  .middle{
  	text-align: center;
  }
  .left{
  	text-align: left;
  }
  .invoicerefs{
  	width: 120px;
  }
  .date{
  	width: 100px;
  }
  .thin{
  	width: 80px;
  }
  .thiner{
  	width: 60px;
  }
  .currency{
  	width: 130px;
  	font-weight: bold;
  }
  .currency2{
  	width: 100px;
  	font-weight: bold;
  }
   .buttons{
  	width: 150px;
  }
}

	// table-striped>tbody>tr:nth-child(odd)>td.dark, .table-striped>tbody>tr:nth-child(odd)>th.dark{
	// 	background-color: #7EB5B6;
	// 	color: white;
	// }
	// 	table-striped>tbody>tr:nth-child(even)>td.dark, .table-striped>tbody>tr:nth-child(even)>th.dark{
	// 	background-color: #7EB5B6;
	// 	color: white;
	// }

// 		.table-hover>tbody>tr:hover>td.dark, .table-hover>tbody>tr:hover>th.dark {
//     background-color: red;
// }

// 7EB5B6
// 7A3D54

.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0 !important;
}

.modal-dialog{
	left: 30px
}

