// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}


.invtable {

	thead tr th {
		background-color: white;
		text-align: center;
	}

	thead tr th a {
		background-image: image-url('arrow.png');
	  background-position: 0 5px;
	  background-repeat: no-repeat;
	  padding-left: 12px;
	}

	th {
		width: 120px;
		border: 1px solid black;

		.current {
			 background-repeat: no-repeat;
			 background-position: left center;
			 padding-left: 12px;
		}
		.asc { 
	  background-image: image-url('arrow.png');
	  background-position: 0 -56px;
		}
		.desc { 
	  background-image: image-url('arrow.png');
		}
	}
}
