<!-- <div class='center fatfaceheader'>
      <span class="logohelper"></span><%= image_tag("FFLogo.png", :id => 'fflogo', :alt => "Fat Face") %>
</div> -->

<div id="scroller-anchor"></div> 
<div class='center fatfaceheader' id="scroller"> 
      <span class="logohelper"></span><%= image_tag("FFLogo.png", :id => 'fflogo', :alt => "Fat Face") %>
</div>

<div class='center placeholder' id="scroller2" style="height: 120px; width: 100%; position: relative;">       
</div>


<script type="text/javascript"> 
  $(function() {
    moveScroller();
  });
</script> 
